<div cdkDropListGroup>
<div class="example-container" *ngFor="let i of colunas" display="inline">
    <div display="inline">
        <h2 display="inline">Available numbers</h2>
        <div
        display="inline"
        id={{i.toString()}}
        cdkDropList
        [cdkDropListData]="lessons[i]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div
            class="example-box"
            *ngFor="let lesson of lessons[i]"
            [cdkDragData]="lesson"
            cdkDrag>{{lesson}}</div>
        </div>
    </div>
  </div>
</div>